<div role="region" tabindex="-1" aria-label="Corps du message"
    class="_2Qk4AbDuWwkuLB005ds2jm QMubUjbS-BOly_BTHEZj7 allowTextSelection">
    <div>
        <div class="rps_64ce">
            <div style="padding: 0px; margin: 0px; font-family: Arial, Verdana, sans-serif; font-size: 14px; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(59, 59, 59) !important;"
                data-ogsb="rgb(238, 238, 238)">
                <div style="color: rgba(255, 255, 255, 0) !important; visibility: hidden; opacity: 0; font-size: 0px; border-style: initial; border-color: initial; border-image: initial; max-height: 1px; width: 1px; margin: 0px; padding: 0px; border-width: 0px !important; display: none !important; line-height: 0px !important;"
                    data-ogsc="transparent"><img data-imagetype="External"
                        blockedimagesrc="http://careerbuilder.et.e.sparkpost.com/q/grb-e3gPAiRebB5i4mCcqA~~/AAAAAQA~/RgRjoxH3PVcHY2FyZWVyYkIKYbv3jMBhbHG2IlIgbGFzc2FuYS50cmFvcmUyMDIwQGNhbXB1cy1lbmkuZnJYBAAAAAA~"
                        data-connectorsauthtoken="1" data-imageproxyendpoint="/actions/ei" data-imageproxyid=""
                        border="0" width="1" height="1" alt=""></div>
                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                    <tbody>
                        <tr bgcolor="#023558">
                            <td height="60" class="x_col12 x_header">
                                <table border="0" cellpadding="0" cellspacing="0" align="center" width="100%"
                                    class="x_text-center"
                                    style="font-family:Arial,Helvetica,sans-serif; max-width:768px">
                                    <tbody>
                                        <tr>
                                            <td align="left" class="x_col12 x_text-center"><a
                                                    href="http://careerbuilder.et.e.sparkpost.com/f/a/AXoKopcmBar6bBpwKNCLUQ~~/AAAAAQA~/RgRjoxH3P0QZaHR0cDovL3d3dy5sZXNqZXVkaXMuY29tL1cHY2FyZWVyYkIKYbv3jMBhbHG2IlIgbGFzc2FuYS50cmFvcmUyMDIwQGNhbXB1cy1lbmkuZnJYBAAAAAA~"
                                                    target="_blank" rel="noopener noreferrer" data-auth="NotApplicable"
                                                    class="x_text-center"
                                                    style="text-decoration:none; color:#FFFFFF; font-size:16px; display:block"
                                                    data-linkindex="0"><img data-imagetype="External"
                                                        blockedimagesrc="http://img.icbdr.com/images/UniversalHeaderFooter/cb-logo-lj-2.png"
                                                        data-connectorsauthtoken="1"
                                                        data-imageproxyendpoint="/actions/ei" data-imageproxyid=""
                                                        width="182px" height="30px" class="x_margin-auto"
                                                        title="Lesjeudis.com" alt="Lesjeudis.com"
                                                        style="display:block; outline:none; border:none"></a> </td>
                                            <td align="right" class="x_col12 x_text-center"><span
                                                    style="font-weight:normal; color:#ffffff; font-family:Arial,Verdana,sans-serif">Votre
                                                    CV &nbsp;&nbsp;</span> </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table border="0" bgcolor="rgb(59, 59, 59)" cellpadding="0" cellspacing="0"
                                    align="center" width="100%"
                                    style="font-family: Arial, Helvetica, sans-serif; max-width: 768px; background-color: rgb(59, 59, 59) !important;"
                                    data-ogsb="" data-ogab="#eeeeee">
                                    <tbody>
                                        <tr>
                                            <td height="10" colspan="5">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td bgcolor="rgb(51, 51, 51)"
                                                style="border-left: 1px solid rgb(204, 204, 204); border-top: 1px solid rgb(204, 204, 204); background-color: rgb(51, 51, 51) !important;"
                                                data-ogsb="" data-ogab="#FFFFFF">&nbsp;</td>
                                            <td bgcolor="rgb(51, 51, 51)" colspan="3" align="left" valign="top"
                                                style="color: rgb(185, 185, 185) !important; font-size: 13px; border-top: 1px solid rgb(204, 204, 204); font-family: Arial, Verdana, sans-serif; background-color: rgb(51, 51, 51) !important;"
                                                data-ogsc="rgb(102, 102, 102)" data-ogsb="" data-ogab="#FFFFFF">
                                                <p
                                                    style="font-family:Arial,Verdana,sans-serif; margin-top:10px; margin-bottom:10px; font-size:20px">
                                                    <br aria-hidden="true">Lassana TRAORE, </p>
                                                <table border="0" cellpadding="0" cellspacing="0" align="center"
                                                    width="100%" class="x_text-center"
                                                    style="font-family:Arial,Helvetica,sans-serif; max-width:768px">
                                                    <tbody>
                                                        <tr>
                                                            <td align="center" valign="top">
                                                                <p
                                                                    style="font-family:Arial,Verdana,sans-serif; margin-top:10px; margin-bottom:10px; font-size:24px">
                                                                    Bonne nouvelle ! </p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <p
                                                    style="font-family:Arial,Verdana,sans-serif; font-size:18px; margin:0px 10px 0px 10px">
                                                    <br aria-hidden="true"><span
                                                        style="color: rgb(190, 223, 255) !important;"
                                                        data-ogsc="rgb(2, 53, 88)">Lors de la dernière semaine, votre CV
                                                        :</span> </p>
                                                <ul>
                                                    <li><span style="color: rgb(190, 223, 255) !important;"
                                                            data-ogsc="rgb(2, 53, 88)">Est <strong>apparu <span
                                                                    style="color: rgb(255, 152, 77) !important; font-size: 20px;"
                                                                    data-ogsc="rgb(243, 107, 33)">0</span> fois</strong>
                                                            dans les recherches des recruteurs.</span> </li>
                                                    <li><span style="color: rgb(190, 223, 255) !important;"
                                                            data-ogsc="rgb(2, 53, 88)">A été <strong>vu <span
                                                                    style="color: rgb(255, 152, 77) !important; font-size: 20px;"
                                                                    data-ogsc="rgb(243, 107, 33)">3</span> fois</strong>
                                                            par des recruteurs.</span> </li>
                                                </ul>
                                                <p></p>
                                            </td>
                                            <td bgcolor="rgb(51, 51, 51)" width="20"
                                                style="border-width: 0px 1px 0px 0px; border-style: solid; border-color: rgb(255, 255, 255) rgb(204, 204, 204) rgb(255, 255, 255) rgb(255, 255, 255); background-color: rgb(51, 51, 51) !important;"
                                                data-ogsb="" data-ogab="#FFFFFF">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td bgcolor="rgb(51, 51, 51)" height="30" colspan="5"
                                                style="border-right: 1px solid rgb(204, 204, 204); border-left: 1px solid rgb(204, 204, 204); background-color: rgb(51, 51, 51) !important;"
                                                data-ogsb="" data-ogab="#FFFFFF">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td bgcolor="rgb(51, 51, 51)" width="20"
                                                style="border-left: 1px solid rgb(204, 204, 204); background-color: rgb(51, 51, 51) !important;"
                                                data-ogsb="" data-ogab="#FFFFFF">&nbsp;</td>
                                            <td bgcolor="rgb(51, 51, 51)" colspan="3" data-ogsb="" data-ogab="#FFFFFF"
                                                style="background-color: rgb(51, 51, 51) !important;">
                                                <table border="0" cellpadding="0" cellspacing="0" align="center"
                                                    style="background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(51, 51, 51) !important; border-radius: 4px; color: rgb(204, 204, 204); border: 1px solid rgb(221, 221, 221); font-size: 14px; letter-spacing: 1px; padding: 4px 35px;"
                                                    data-ogsb="rgb(255, 255, 255)">
                                                    <tbody>
                                                        <tr>
                                                            <td align="center" valign="center" height="36"><a
                                                                    href="http://careerbuilder.et.e.sparkpost.com/f/a/A3gcnEz5hc2PZ5Jv6f5yhw~~/AAAAAQA~/RgRjoxH3P0RYaHR0cDovL3d3dy5sZXNqZXVkaXMuY29tL2pvYnNlZWtlci9yZXN1bWVzL2FsbHJlc3VtZWFjdGl2aXR5LmFzcHg_c2l0ZWlkPWNiX3Jlc3ZpZXdlZF9salcHY2FyZWVyYkIKYbv3jMBhbHG2IlIgbGFzc2FuYS50cmFvcmUyMDIwQGNhbXB1cy1lbmkuZnJYBAAAAAA~"
                                                                    target="_blank" rel="noopener noreferrer"
                                                                    data-auth="NotApplicable" class="x_lhover"
                                                                    style="color: rgb(92, 204, 255) !important; font-family: Arial, Verdana, sans-serif; text-decoration: none; display: block;"
                                                                    data-linkindex="1" data-ogsc="rgb(9, 160, 219)">Voir
                                                                    qui a visité votre profil</a> </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td bgcolor="rgb(51, 51, 51)" width="20"
                                                style="border-right: 1px solid rgb(204, 204, 204); background-color: rgb(51, 51, 51) !important;"
                                                data-ogsb="" data-ogab="#FFFFFF">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td bgcolor="rgb(51, 51, 51)" colspan="5" height="30"
                                                style="border-left: 1px solid rgb(204, 204, 204); border-right: 1px solid rgb(204, 204, 204); border-bottom: 1px solid rgb(204, 204, 204); background-color: rgb(51, 51, 51) !important;"
                                                data-ogsb="" data-ogab="#FFFFFF">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td height="20" colspan="5">&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr bgcolor="#023558">
                            <td class="x_col12">
                                <table border="0" cellpadding="0" cellspacing="0" align="center" width="100%"
                                    class="x_text-center"
                                    style="font-family:Arial,Helvetica,sans-serif; max-width:768px">
                                    <tbody>
                                        <tr>
                                            <td height="10">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="top" height="26">
                                                <table border="0" cellpadding="0" cellspacing="0" align="center"
                                                    class="x_text-center"
                                                    style="font-family:Arial,Helvetica,sans-serif; margin-top:10px">
                                                    <tbody>
                                                        <tr>
                                                            <td><a href="http://careerbuilder.et.e.sparkpost.com/f/a/Q1kD6j0kDWkTNELDiPIZRQ~~/AAAAAQA~/RgRjoxH3P0QdaHR0cHM6Ly90d2l0dGVyLmNvbS9sZXNqZXVkaXNXB2NhcmVlcmJCCmG794zAYWxxtiJSIGxhc3NhbmEudHJhb3JlMjAyMEBjYW1wdXMtZW5pLmZyWAQAAAAA"
                                                                    target="_blank" rel="noopener noreferrer"
                                                                    data-auth="NotApplicable" data-linkindex="2"
                                                                    data-ogsc=""
                                                                    style="color: rgb(228, 159, 255) !important;"><img
                                                                        data-imagetype="External"
                                                                        blockedimagesrc="http://img.icbdr.com/images/lj/bur_recruteur/header/twitter.png"
                                                                        data-connectorsauthtoken="1"
                                                                        data-imageproxyendpoint="/actions/ei"
                                                                        data-imageproxyid=""
                                                                        alt="Lesjeudis.com - twitter"
                                                                        title="Lesjeudis.com - twitter" width="16"
                                                                        height="16" style="margin-right:20px"> </a></td>
                                                            <td><a href="http://careerbuilder.et.e.sparkpost.com/f/a/wR3Samgi3MWdERvk6J3Rjg~~/AAAAAQA~/RgRjoxH3P0QiaHR0cHM6Ly93d3cuZmFjZWJvb2suY29tL2xlc2pldWRpc1cHY2FyZWVyYkIKYbv3jMBhbHG2IlIgbGFzc2FuYS50cmFvcmUyMDIwQGNhbXB1cy1lbmkuZnJYBAAAAAA~"
                                                                    target="_blank" rel="noopener noreferrer"
                                                                    data-auth="NotApplicable" data-linkindex="3"
                                                                    data-ogsc=""
                                                                    style="color: rgb(228, 159, 255) !important;"><img
                                                                        data-imagetype="External"
                                                                        blockedimagesrc="http://img.icbdr.com/images/lj/bur_recruteur/header/linkedin.png"
                                                                        data-connectorsauthtoken="1"
                                                                        data-imageproxyendpoint="/actions/ei"
                                                                        data-imageproxyid=""
                                                                        alt="Lesjeudis.com - facebook"
                                                                        title="Lesjeudis.com - facebook" width="16"
                                                                        height="16" style="margin-right:20px"> </a></td>
                                                            <td><a href="http://careerbuilder.et.e.sparkpost.com/f/a/3jHktm2CshanIVnX0XVBsg~~/AAAAAQA~/RgRjoxH3P0Q8aHR0cHM6Ly93d3cubGlua2VkaW4uY29tL2NvbXBhbnkvZ3JvdXBlLWNhcmVlcmJ1aWxkZXItZnJhbmNlVwdjYXJlZXJiQgphu_eMwGFscbYiUiBsYXNzYW5hLnRyYW9yZTIwMjBAY2FtcHVzLWVuaS5mclgEAAAAAA~~"
                                                                    target="_blank" rel="noopener noreferrer"
                                                                    data-auth="NotApplicable" data-linkindex="4"
                                                                    data-ogsc=""
                                                                    style="color: rgb(228, 159, 255) !important;"><img
                                                                        data-imagetype="External"
                                                                        blockedimagesrc="http://img.icbdr.com/images/lj/bur_recruteur/header/facebook.png"
                                                                        data-connectorsauthtoken="1"
                                                                        data-imageproxyendpoint="/actions/ei"
                                                                        data-imageproxyid=""
                                                                        alt="Lesjeudis.com - linkedin"
                                                                        title="Lesjeudis.com - linkedin" width="16"
                                                                        height="16" style="margin-right:20px"> </a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr valign="top" style="color: rgb(185, 185, 185) !important; font-size: 11px;"
                                            data-ogsc="rgb(102, 102, 102)">
                                            <td valign="top" align="center" colspan="3">
                                                <p style="margin:10px 0px 10px 0px">Ne répondez pas directement à ce
                                                    courrier électronique. Il s'agit d'un message automatique et votre
                                                    réponse ne sera pas lue. Ce message a été envoyé à <a
                                                        href="mailto:lassana.traore2020%40campus-eni.fr" target="_blank"
                                                        rel="noopener noreferrer" data-auth="NotApplicable"
                                                        style="color: rgb(92, 204, 255) !important; font-family: Arial, Verdana, sans-serif;"
                                                        data-linkindex="5"
                                                        data-ogsc="rgb(9, 160, 219)">lassana.traore2020@campus-eni.fr</a>.
                                                    <br aria-hidden="true"></p>
                                                <p style="margin:10px 0px 10px 0px"><a
                                                        href="http://careerbuilder.et.e.sparkpost.com/f/a/dQWITCWOMfi9coJd-Xzfag~~/AAAAAQA~/RgRjoxH3P0QYaHR0cDovL3d3dy5sZXNqZXVkaXMuY29tVwdjYXJlZXJiQgphu_eMwGFscbYiUiBsYXNzYW5hLnRyYW9yZTIwMjBAY2FtcHVzLWVuaS5mclgEAAAAAA~~"
                                                        target="_blank" rel="noopener noreferrer"
                                                        data-auth="NotApplicable"
                                                        style="color: rgb(92, 204, 255) !important; font-family: Arial, Verdana, sans-serif;"
                                                        data-linkindex="6"
                                                        data-ogsc="rgb(9, 160, 219)">www.lesjeudis.com</a> | <a
                                                        href="http://careerbuilder.et.e.sparkpost.com/f/a/e03VkQYLedIP8oPyn6ByLw~~/AAAAAQA~/RgRjoxH3P0RPaHR0cDovL3d3dy5sZXNqZXVkaXMuY29tL0xKL1NoYXJlL3BhZ2UuYXNweD9pZD1jb25maWFuY2Umc2l0ZWlkPWNiX3Jlc3ZpZXdlZF9salcHY2FyZWVyYkIKYbv3jMBhbHG2IlIgbGFzc2FuYS50cmFvcmUyMDIwQGNhbXB1cy1lbmkuZnJYBAAAAAA~"
                                                        target="_blank" rel="noopener noreferrer"
                                                        data-auth="NotApplicable"
                                                        style="color: rgb(92, 204, 255) !important; font-family: Arial, Verdana, sans-serif;"
                                                        data-linkindex="7" data-ogsc="rgb(9, 160, 219)">Privacy
                                                        Policy</a> | <a
                                                        href="http://careerbuilder.et.e.sparkpost.com/f/a/a5A15FNwk4s9odZnfVpXsg~~/AAAAAQA~/RgRjoxH3P4QGAWh0dHA6Ly93d3cubGVzamV1ZGlzLmNvbS9Kb2JTZWVrZXIvRW1haWxzL0VtYWlsVW5TdWJzY3JpYmUuYXNweD9lRElEPWRHcEtTR0ZQYVdKcVozZzJjMVpCUkZsMmMySkNVVWcwT1hoTlJ6UlRiRTQlM0QmZXR5cGU9cmVzdW1ldmlld2VkJnNpdGVpZD0maXBhdGg9SkVIJnV0bV9zb3VyY2U9am9iLXJlY29tbWVuZGF0aW9uJnV0bV9tZWRpdW09ZW1haWwmdXRtX2NhbXBhaWduPSZ1dG1fdGVybT0yMDIxLTEyLTIwJnV0bV9jb250ZW50PXVuc3Vic2NyaWJlLWxpbmtXB2NhcmVlcmJCCmG794zAYWxxtiJSIGxhc3NhbmEudHJhb3JlMjAyMEBjYW1wdXMtZW5pLmZyWAQAAAAA"
                                                        target="_blank" rel="noopener noreferrer"
                                                        data-auth="NotApplicable"
                                                        style="color: rgb(92, 204, 255) !important; font-family: Arial, Verdana, sans-serif;"
                                                        data-linkindex="8" data-ogsc="rgb(9, 160, 219)">Se
                                                        désabonner</a> | <a
                                                        href="mailto:servicecandidatsLJ@careerbuilder.fr?subject=Email - Resume View Notification"
                                                        target="_blank" rel="noopener noreferrer"
                                                        data-auth="NotApplicable"
                                                        style="color: rgb(92, 204, 255) !important; font-family: Arial, Verdana, sans-serif;"
                                                        data-linkindex="9" data-ogsc="rgb(9, 160, 219)">Service
                                                        client</a> </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="10">&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table><img data-imagetype="External"
                    blockedimagesrc="http://careerbuilder.et.e.sparkpost.com/q/ev8ynNcrlb5GGZSgaLPh4g~~/AAAAAQA~/RgRjoxH3PlcHY2FyZWVyYkIKYbv3jMBhbHG2IlIgbGFzc2FuYS50cmFvcmUyMDIwQGNhbXB1cy1lbmkuZnJYBAAAAAA~"
                    data-connectorsauthtoken="1" data-imageproxyendpoint="/actions/ei" data-imageproxyid="" border="0"
                    width="1" height="1" alt="">
            </div>
        </div>
    </div>
</div>